* {
	margin: 0px;
	padding: 0px;
}

#page-top {
	display: flex;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: transparent;
}

#page-top h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	margin-left: 200px;
	padding: 15px;
}
#List {
	margin-left: 100px;
	display: flex;
	font-family: 'Lato', sans-serif;
	margin: 9px 20px 0px;
	padding: 8px 2px;
}

#List li {
	list-style: none;
	font-size: 15;
	margin-left: 50px;
}

#List a:link,
a:visited {
	color: #555;
	text-decoration: none;
}

#List a:hover {
	color: #555;
	text-decoration: underline;
}

#header {
	background-image: url(assets/intro-bg.jpg);
	height: 1000px;
	width: 100%;
	background-size: cover;
}

#body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#body h1 {
	color: white;
	font-size: 82px;
	font-weight: 700;
	padding-top: 150px;
	padding-bottom: 10px;
}

#body p {
	color: white;
	font-size: 22px;
	margin-bottom: 60px;
}

#body button {
	font-size: 15px;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 33px;
	border-radius: 50px;
	letter-spacing: 1px;
}

#body a:visited,
a:link {
	text-decoration: none;
	color: white;
}

#Features {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background-color: #f6f6f6;
}
#features h2 {
	font-size: 36px;
	margin: 10px 0px 15px;
	padding: 0px 0px 15px;
	font-weight: 750;
}

#feature_wrapper {
	display: flex;
	width: 100%;
	padding: 15px;
}

#feature_wrapper h3 {
	font-size: 20px;
	margin: 20px 0px 10px;
}

#feature_wrapper p {
	font-size: 15px;
	color: #777777;
}

#feature1 {
	width: 25%;
}
#feature2 {
	width: 25%;
}
#feature3 {
	width: 25%;
}
#feature4 {
	width: 25%;
}

#img_and_text_wrapper {
	display: flex;
	padding: 100px;
}

#about_img {
	width: 520px;
	margin-top: 10px;
	background: #fff;
}

#about_text {
	font-family: 'Raleway', sans-serif;
	margin: 80px;
	margin-top: 0;
}
#heading_about h2 {
	font-size: 36px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #333;
	font-weight: 800;
}

#heading_about p {
	margin: 30px 0;
	font-size: 15px;
	color: #777777;
}

#why_us h3 {
	font-size: 22px;
	margin: 0px 0px 20px;
	font-weight: 550;
	color: #333;
}

#why_us_wrapper {
	display: flex;
}
#why_us_1 {
	width: 50%;
}

#why_us_2 {
	width: 50%;
}
#why_us_1 ul li {
	list-style: none;
	margin-bottom: 6px;
	margin-left: 6px;
	color: #777777;
}

#why_us_2 ul li {
	list-style: none;
	margin-bottom: 6px;
	margin-left: 6px;
	color: #777777;
}

#our_services {
	font-family: 'Raleway', sans-serif;
	padding: 100px 0;
	color: #fff;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	text-align: center;
}

#services_heading h2 {
	font-size: 36px;
	font-weight: 750;
	margin: 0px 0px 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#services_heading p {
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 70px;
	color: rgba(255, 255, 255, 0.75);
}

#services_wrapper_1 {
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}

#services_wrapper_1 h3 {
	font-size: 20px;
	font-weight: 50;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#services_wrapper_1 p {
	color: rgba(255, 255, 255, 0.75);
}

#service_1 {
	width: 33.3%;
}
#service_2 {
	width: 33.3%;
}
#service_3 {
	width: 33.3%;
}

#services_wrapper_2 {
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	padding: 40px;
}

#services_wrapper_2 h3 {
	font-size: 20px;
	font-weight: 50;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#services_wrapper_2 p {
	color: rgba(255, 255, 255, 0.75);
}

#service_4 {
	width: 33.3%;
}
#service_5 {
	width: 33.3%;
}
#service_6 {
	width: 33.3%;
}

#gallery_container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

#gallery_heading {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#gallery_heading h2 {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	margin: 0px 0px 20px;
	font-size: 36px;
	font-weight: 750;
}
